---
const title = "About Me";
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="about-container">
        <h1>{title}</h1>
        <p>
          👋 Hi! I’m <strong>Alejandro Cader</strong>, a passionate <strong
            >Computer Engineer</strong
          > from El Salvador, currently living in <strong
            >Valladolid, Spain</strong
          >, with a strong interest in <strong>web development</strong>, <strong
            >backend engineering</strong
          >, and <strong>digital automation</strong>.
        </p>

        <p>
          I hold a degree in <strong>Computer Engineering</strong> and have experience
          working with technologies like <strong>Java with Spring Boot</strong>, <strong
            >React</strong
          >, <strong>Salesforce</strong>, and <strong
            >Automation Anywhere</strong
          >. I’ve developed and maintained projects ranging from <em
            >school management systems</em
          > to <em>e-commerce platforms</em>, always focusing on clean code,
          functionality, and user experience.
        </p>

        <p>
          Beyond coding, I enjoy exploring <em
            >tech solutions that simplify daily tasks</em
          >, whether through automation or optimized digital platforms. I'm
          currently building this portfolio to showcase my work, projects, and
          the skills I continue to grow every day.
        </p>

        <p><strong>Let's build something great together 🚀</strong></p>
      </div>
    </main>
  </body>
</html>
