---
const title = "Projects";
import ProjectCard from '../components/ProjectCard.astro';
---

<h1>{title}</h1>
<p>Here are some of my projects.</p>

<ProjectCard 
  title="Project 1" 
  description="A description of project 1" 
  link="https://github.com/project1" 
/>
<ProjectCard 
  title="Project 2" 
  description="A description of project 2" 
  link="https://github.com/project2" 
/>
